<nav id="header_nav">
	<ul>
		<li class="nav">
			<%= link_to root_path do %>
				Homepage
			<% end %>
		</li>
		<li class="nav">
			<%= link_to activities_path do %>
				Activities
			<% end %>
		</li>
	</ul>
</nav>