<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>

<div class="activity basic">
	<h2>Basic</h2>
  <div class="inputs">
    <%= f.input :name, :placeholder => 'City Basketball League' %>
  </div>
</div>

<div class="activity tags">
	<h2>Tags</h2>
  <div class="inputs">
    
  </div>
</div>

<div class="activity logistics">
	<h2>Logistics</h2>
  <div class="inputs">
    
  </div>
</div>

<div class="activity pictures">
	<h2>Pictures</h2>
  <div class="inputs">
    
  </div>
</div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
