<div class="location fields">
	<%= f.input :address, :placeholder => '555 example st' %>
	<%= f.input :city, :placeholder => 'San Francisco' %>
	<%= f.link_to_remove "Remove this location" %>
</div>